<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center; padding-bottom: 10px; background: yellow;">
  <div class="title">
    <h1>{{ title }}</h1>
    <p>Eggead Angular course</p>
  </div>
  <p>First toggle controlled here:</p>
  <div class="test-description">
    <p>Expose the children component state to parent & controll more than 1 component.</p>
  </div>
  <div #firstToggle="toggle" toggle (toggled)="onToggle($event)">
    <toggle-button></toggle-button>
    <toggle-on>On</toggle-on>
    <toggle-off>Off</toggle-off>
  </div>
</div>

<div style="text-align:center; background:aliceblue; padding-top: 10px; padding-bottom: 10px;">
  <p>Second here...</p>
  <div [toggleProvider]="firstToggle" toggle (toggled)="onToggle($event)">
    <toggle-button></toggle-button>
    <toggle-on>On</toggle-on>
    <toggle-off>Off</toggle-off>
  </div>
</div>

<div style="text-align:center; background:orange; padding-top: 10px; padding-bottom: 10px;">
  <p>This is another component <code>newToggle</code></p>
  <div class="test-description">
    <p>Refactored toggle component using context</p>
  </div>
  <new-toggle (toggled)="onToggle($event)">
    <ng-template let-on="on" let-fns="fns">
      {{ on ? 'On' : 'Off'}}
      <switch [on]="on" (click)="fns.toggle()"></switch>
    </ng-template>
  </new-toggle>
</div>

<div style="text-align:center; background:PowderBlue; padding-top: 10px; padding-bottom: 10px;">
  <p>Let's evolve again <code>newToggle</code></p>
  <new-toggle (toggled)="onToggle($event)">
    <ng-template let-on="on" let-fns="fns">
      <switch toggler [on]="on" (click)="fns.toggle()"></switch>
      <hr/>
      <button [toggler]="{ ariaChecked: false }" [role]="'button'" [on]="on" [attr.aria-pressed]="on" (click)="fns.toggle()">
        {{ on ? 'On' : 'Off'}}
      </button>
    </ng-template>
  </new-toggle>
</div>

<div style="text-align:center; background:violet; padding-top: 10px; padding-bottom: 10px;">
  <p>This is another component <code>newToggle</code></p>
  <div class="test-description">
    <p>
      We're going to use the <code>State Reducer Pattern</code> to give the parent control over how that state is updated.
      We count how many click user does and we will freeze the switch after 3 click.
    </p>
  </div>
  <new-toggle (toggled)="log(toggle, $event)" [stateReducer]="stateReducer">
    <ng-template let-on="on" let-fns="fns">
    <switch [on]="on" toggler (click)="fns.toggle()">
    </switch>
  </ng-template>
  </new-toggle>
</div>


<router-outlet></router-outlet>
