.title {
  padding: 70px;
  background: #fff;
  h1 {
    color: tomato;
    margin-bottom: 4px;
  }
  p {
    color: orange;
    font-weight: bold;
  }
}

.test-description {
  padding: 5px;
  max-width: 500px;
  margin: auto;
  background: #ccc;
  margin-bottom: 10px;
}
